﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - UserManagement</title>

	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.rtl.min.css" />*@

	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
    @RenderSection("styles", required: false)

    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-fiori.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.mobile.all.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.materialblack.min.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/kendo-ui/jszip.min.js"></script>
    <script src="~/lib/kendo-ui/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/kendo.aspnetmvc.min.js"></script>
    @*<script src="~/lib/kendo-ui/kendo.messages.fa-IR.min.js"></script>*@
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">UserManagement</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
					<li><a asp-area="" asp-controller="ApplicationRole" asp-action="Index">Roles</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a></li>
				</ul>
				@await Html.PartialAsync("_LoginPartial")
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 1397 - UserManagement</p>
		</footer>
	</div>


	@RenderSection("Scripts", required: false)
</body>
</html>
