﻿@model UserManagement.Models.IdentityViewModels.UserVM

    <style>
        .k-edit-form-container {
            width:100%;
        }
    </style>
<div class="row">
    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary()
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-md-4" })
            @(Html.Kendo().TextBoxFor(model => model.Name).HtmlAttributes(new { @class = "col-md-8", @data_error = "فیلد اجباری", @required = "required" }))
            <div class="help-block with-errors"></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "col-md-4" })
            @(Html.Kendo().TextBoxFor(model => model.UserName).HtmlAttributes(new { @class = "col-md-8", @data_error = "فیلد اجباری", @required = "required" }))
            <div class="help-block with-errors"></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-md-4" })
            @(Html.Kendo().TextBoxFor(model => model.Password).HtmlAttributes(new { @class = "col-md-8", @data_error = "فیلد اجباری", @required = "required" }))
            <div class="help-block with-errors"></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-4" })
            @(Html.Kendo().TextBoxFor(model => model.ConfirmPassword).HtmlAttributes(new { @class = "col-md-8", @data_error = "فیلد اجباری", @required = "required" }))
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "col-md-4" })
            @(Html.Kendo().TextBoxFor(model => model.Email).HtmlAttributes(new { @class = "col-md-8", @data_error = "فیلد اجباری", @required = "required" }))
        </div>
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Role, new { @class = "col-md-4" })

            @(Html.Kendo().DropDownListFor(model => model.Role)
                      .DataValueField("RoleId")
                      .DataTextField("RoleName")
                      .BindTo((System.Collections.IEnumerable)ViewData["roles"])
            )
        </div>
    </div>











</div>
    