﻿@using UserManagement.Models.IdentityViewModels

<style>
    .k-header, .k-grouping-header {
        background-color: #313131;
    }
</style>

<br />
<div class="row">

            @{

                @(Html.Kendo().Grid<ApplicationRoleVM>()
                                 .Name("RoleGrid")
                                .Columns(columns =>
                                {

                                    columns.Bound(o => o.RoleName).Width(200);
                                    columns.Bound(o => o.Description).Width(200);
                                    columns.Bound(o => o.NumberOfUsers).Width(120).Filterable(true);
                                    columns.Command(
                                    command =>
                                    {
                                        command.Destroy().Text("Delete");
                                    }).ClientHeaderTemplate("<center>Actions</center>").Width(80);
                                })
                                .ToolBar(toolBar =>
                                {
                                    toolBar.Create().Text("New Role").HtmlAttributes(new { style = "background-color:dimgrey;border-color: #6f6f6f;" });
                                    toolBar.Save().Text("Save Changes").CancelText("Cancel").HtmlAttributes(new { style = "background-color:dimgrey;border-color: #6f6f6f;" });
                                })
                                .Editable(editable => editable.Mode(GridEditMode.InCell))
                                .Pageable()
                                //.Scrollable()
                                .Sortable()
                                .HtmlAttributes(new { style = "font-size:13px;" })
                                .Resizable(resize => resize.Columns(true))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                                .Selectable(selectable => selectable
                                .Mode(GridSelectionMode.Single)
                                .Type(GridSelectionType.Row))
                                .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Batch(true)
                                      .PageSize(20)
                                      .ServerOperation(true)
                                      .Model(model =>
                                      {
                                          model.Id(o => o.Id);
                                          model.Field(o => o.Id).Editable(false);
                                          model.Field(o => o.NumberOfUsers).Editable(false);
                                      })
                                      .Events(events => events.Error("error_handler"))
                                      .Model(model => model.Id(o => o.Id))
                                      .Read(read => read.Action("RoleList", "ApplicationRole"))
                                      .Update(update => update.Action("EditRole", "ApplicationRole"))
                                      .Create(create => create.Action("CreateRole", "ApplicationRole"))
                                      .Destroy(destroy => destroy.Action("DeleteRole", "ApplicationRole"))
                                )
                )

            }
</div>

<script>
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>


@*@section scripts
    {

}

@section styles
    {

}*@
