﻿@using UserManagement.Models.IdentityViewModels

@{
    ViewData["Title"] = "Users";
}



<div class="container">
            @{

                @(Html.Kendo().Grid<UserVM>()
                                 .Name("UserGrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(u => u.Name).Width(200);
                                    columns.Bound(u => u.UserName).Width(200);
                                    columns.Bound(u => u.Password).Width(120).Filterable(false).Sortable(false);
                                    columns.Bound(u => u.Email).Width(180);
                                    columns.Bound(u => u.Role).ClientTemplate("#=Role.RoleName#").Width(180);
                                    columns.Command(
                                    command =>
                                    {
                                        command.Edit().Text("Edit").UpdateText("Save Changes");
                                        command.Custom("CustomDelete").Text("Delete").Click("openWindow");

                                    }).Width(210).ClientHeaderTemplate("<center>Actions</center>");
                                })
                                .ToolBar(toolBar =>
                                {
                                    toolBar.Create().Text("New User").HtmlAttributes(new { style= "background-color:dimgrey;border-color: #6f6f6f;" });
                                })
                                .Editable(editable => editable.Mode(GridEditMode.PopUp).DisplayDeleteConfirmation(false).Window(
                                    w =>
                                        w.Title("User Details")
                                        .Width(800))
                                .TemplateName("UserViewModel")

                                )
                                .Pageable()
                                .Scrollable()
                                .Groupable()
                                .Sortable()
                                .HtmlAttributes(new { style = "font-size:13px;" })
                                .Resizable(resize => resize.Columns(true))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Menu).Extra(false).Operators(opt => opt.ForString(
                                    str => str.Clear()
                                .StartsWith("Start With:")
                                .EndsWith("End With:")
                                .Contains("Contains:")
                                .DoesNotContain("Does Not Contain:")
                                .Equals("Equals:")
                            ).ForNumber(
                            str => str.Clear()
                            .IsEqualTo("Equals:")
                                )))
                                .Selectable(selectable => selectable
                                .Mode(GridSelectionMode.Single)
                                .Type(GridSelectionType.Row))
                                .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Batch(true)
                                      .PageSize(6)
                                      .ServerOperation(true)
                                      .Model(model =>
                                      {
                                          model.Id(u => u.Id);
                                          model.Field(u => u.Id).Editable(false);
                                          model.Field(u => u.Role).DefaultValue(ViewData["defaultRole"] as RoleVM);
                                      })
                                      .Events(events => events.Error("error_handler"))
                                      .Model(model => model.Id(u => u.Id))
                                      .Read(read => read.Action("UserList", "User"))
                                      .Update(update => update.Action("EditUser", "User"))
                                      .Create(create => create.Action("CreateUser", "User"))
                                      .Destroy(destroy => destroy.Action("DeleteUser", "User"))
                                )
                )

            }
</div>


<div id="modalWindow">
    <h4>Are you sure?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>


<script>


    var wnd;
    $(document).ready(function () {
                    wnd = $("#modalWindow").kendoWindow({
                        modal: true,
            visible: false,
            resizable: false,
            width: 300
                    }).data("kendoWindow");
                });



    function openWindow(e) {
                    e.preventDefault();

                    var grid = this;
                    var row = $(e.currentTarget).closest("tr");
                    wnd.center().open();

        $("#yes").click(function () {
                        grid.removeRow(row);
                        wnd.close();
                    });

        $("#no").click(function () {
                        wnd.close();
                    });
                }

                function error_handler(e) {
                    if (e.errors) {
                        var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                            if ('errors' in value) {
                    $.each(value.errors, function () {
                                    message += this + "\n";
                                });
                            }
                        });
                        alert(message);
                    }
                }

    $("#UserGrid").kendoGrid({
                    editable: {
                        confirmation: "Do you want delete this user?"
                    }
                });

</script>


@*@section scripts
    {


}

@section styles
    {


}*@
