﻿@model SAC_RFID_ASSET.Models.AccountViewModels.EditUserViewModel
@using System.Security.Claims;


@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "پروفایل کاربر";
}

<style>
    .modal-header {
        margin: unset;
    }
</style>

<div class="widget-list">
    <div class="row">
        <!-- User Summary -->
        <!-- /.widget-holder -->
        <!-- Tabs Content -->
        <div class="col-12 col-md-8 mr-b-30">
            <ul class="nav nav-tabs contact-details-tab">
            </ul>
            <div class="tab-content">
                <!-- /.tab-pane -->
                <div role="tabpanel" class="tab-pane active" id="profile-tab-bordered-1">
                    <div class="contact-details-profile">
                        <div class="row">
                            <form asp-action="EditUserProfile" asp-controller="user" role="form" data-toggle="validator" enctype="multipart/form-data">
                                @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش اطلاعات کاربری" })
                                <div class="modal-body form-horizontal">
                                    @Html.ValidationSummary()

                                    @Html.HiddenFor(m => m.Id)
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="Name" class="form-control" data-error="فیلد اجباری" required />
                                                    <span class="input-group-addon"> <i class="material-icons list-icon">face</i> </span>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="UserName" class="form-control" data-error="فیلد اجباری" disabled />
                                                    <span class="input-group-addon"> <i class="material-icons list-icon">account_circle</i> </span>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="Email" class="form-control" data-error="فیلد اجباری" required />
                                                    <span class="input-group-addon"> <i class="material-icons list-icon">mail_outline</i> </span>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ProfileIcon" class="control-label col-sm-4"></label>
                                                <input asp-for="ProfileIcon" class="form-control col-sm-8 pull-left" type="file" name="image" style="float:left;"/>
                                            </div>
                                            <div class="help-block" style="font-size:9px;color:#caab00">یک عکس با پسوند JPG یا BMP و ابعاد 32 * 32 پیکسل انتخاب نمائید</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-sm-12 pull-right">
                                        <button class="btn btn-success" type="submit">
                                            ثبت تغییرات
                                        </button>
                                        <button id="editUserModal" data-toggle="modal" data-target="#user" class="btn btn-default pull-left" type="button">تغییر گذرواژه</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.col-md-6 -->
                        </div>
                        <!-- /.row -->

                    </div>

                    <!-- /.row -->
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.col-sm-8 -->
    </div>
    <!-- /.row -->
</div>

@Html.Partial("_ModalPassword", Model)